<%- include('template/title')%>
<link rel="stylesheet" href="/static/css/index.css">

<div class="row">
    <!--Presentation-->
    <div class="col-6" style="background-color: black; display: flex; align-items: center; justify-content: center;">
    <center>
        <p style="font-size: 62px;">
            <span style="color: #B5070E;">Intern</span>
            <span style="color: #FFF;">Feedback</span>
        </p>
    </center>
    </div>
    <div class="col-6" style="padding: 0; border-top-right-radius: 10px; border-bottom-right-radius: 10px;">
    <img src="/static/img/background/huaweifont.avif" class="card-img-top" alt="404image">
    </div>
</div>

<div class="container">
    <div class="row"  style="display: flex; align-items: center; justify-content: center;">
      <!--form-->
      <form action="/mongodb/internFeedback" method="post">
        <div class="row">
          <h2>
            Do you have any comment? 
          </h2>
          <!--Name-->
          <input type="hidden" name="user" value="user">
          <div class="col-6 mb-3">
            <label for="name" class="form-label" style="color: #000;">Name:</label>
            <input type="text" class="form-control" id="name" name="name" pattern="[A-Za-zÀ-ÖØ-öø-ÿ\s]+"
            placeholder="Please write your name" style="border-color: #000;" title="Please enter only letters" required>
          </div>
          <!--Last Name-->
          <div class="col-6 mb-3">
            <label for="lastname" class="form-label" style="color: #000;">Last name:</label>
            <input type="text" class="form-control" id="lastname" name="lastname" pattern="[A-Za-zÀ-ÖØ-öø-ÿ\s]+"
            placeholder="Please write your last name" style="border-color: #000;" title="Please enter only letters" required>
          </div>
          <!--Comments-->
          <div class="col-12 mb-2">
              <label for="comment" class="form-label" style="color: #000;">Comment:</label>
              <textarea class="form-control mb-2" style="border-color: #000;" id="comment" name="comment" rows="4" cols="50" placeholder="Write your comment here..." required></textarea>    
          </div>
          <div class="col-6 mb-3">
            <label for="studentphoto" class="form-label" style="color: #000;">Photo:</label>
            <input type="file" class="form-control" id="studentphoto" style="border-color: #000;" name="studentphoto" accept="image/png">
          </div>
          <div class="col-6 mb-3">
            <button type="submit" class="btn mb-5" style="background-color: #B5070E; color: #FFF; margin-top: 5%;">Send</button>
          </div>

        </div>
    </form>
    
      <!---->
    <%
      interns.forEach((interns)=>{
    %>
    <!--Card-->
    <div class="col-12">
        <div class="card mb-3" style="border-color: #000;">
            <div class="row g-0">
              <div class="col-md-4">
                <img src="static/img/perfiles/people3.jpg" class="img-fluid rounded-start" alt="404Error">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                    <h4 class="card-text mb-3" style="color: #B5070E;"><%= interns.name%> <%= interns.lastname%></h4>
                    <h6 class="card-text" ><%= interns.comment%></h6>
                </div>
              </div>
            </div>
        </div>
    </div>
    <%
      });
    %>


    </div>
</div>

<%- include('template/end')%>